.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.App-header {
  min-height: 20vh;
}
